.BoardContainer {

    padding: 80px 5% 0 5%;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 800px;
    &-Heading {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 5px;
    }

    height: 100%;
    animation: open-board-container-animation .1s ease-in normal;
}

@keyframes open-board-container-animation {
    from {
        //transform: scale(.95);
        opacity: 0;
    }
    to {
        //transform: scale(1);
        opacity: 1;
    }
}

.card {
    flex-grow: .5;
    padding: 10px 10px;
    min-width: 300px;
}
