.AddTodo {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &-Form {
        margin: 0 10px;
        border-bottom: 1px solid grey;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
    }
}

input[type="text"] {
    padding: 1px 8px;
    height: 25px;
    color: #bebebe;
    flex-grow: 1;
    outline: none;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    font-style: italic;
    font-size: 14px;

}

input[type="text"]:focus,
input[type="text"]:hover {
    color: #fff;
}

input[type="text"]::placeholder {
    color: #bebebe;
    width: 100%;
}

input[type="submit"] {
    height: 30px;
    color: rgb(214, 214, 214);
    outline: none;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
}
