.PersonalCard {

    color: black;
    font-family: Roboto;
    padding: 6px 10px 6px 15px;


    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 25px;

    background-color: #ffffff;
    border-radius: 20px;

    &-left {
        font-weight: bold;
        padding-top: 5px;
    }

    &-right {
        display: flex;
        flex-direction: row;
    }


    &-button {
        display: block;
        align-content: center;
        justify-content: center;

        height: 25px;

        border: none;
        padding: 3px 20px;
        border-radius: 30px;
        margin-left: 5px;

        font-weight: bold;
        font-size: 12px;
        background-color: #1D63FF;

        color: #fff;

        &:focus {
            outline: none;
        }

        &:hover {
            background: #1449BA;
        }

        &:active {
            background: #5FA4F5;
        }
    }
}
