header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    flex-direction: row;
    padding: 35px 10px 10px 10px;
    -webkit-app-region: drag;
    cursor: default;
}

#head-left,
#head-right {
    padding-bottom: 5px;
}

#head-left {
    flex-grow: 1;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

#head-right {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex-grow: 1;
    position: relative;
    text-align: right;
    font-size: 12px;
}
#head-right > div {
    padding-left: 15px;
}

#head-right>span {
    position: absolute;
    bottom: 5px;
    margin-left: -40px;
}


