.TodoToolbarOnline {
  height: 28px;
  background-color: #212121;
  border-radius: 30px;
  padding: 0 2px 0 10px;

  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: Roboto;
  color: #DBDBDB;
  font-size: 13px;
}
